
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{



    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 1005;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width:18vw;
   
   
    
}
h1{
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#name{
    color: rgb(218, 18, 51);
    font-size: 45px;

}
#va{
    color: rgb(35, 192, 192);
    font-size: 45px;
}
#voice{
    width: 150px;
    display: none;
    margin-bottom: 30px;
}
#btn{
    width: 30%;
    background: linear-gradient(to right, rgb(29, 146, 224) ,rgb(42, 200, 221));
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(42, 200, 221),2px 2px 10px rgb(207, 29, 169);
    border: none;
    transition: all 0.5s;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(42, 200, 221),2px 2px 20px rgb(207, 29, 169);
    letter-spacing: 2px;  
}

